	<!-- Footer -->
  <footer class="page-footer">
    
    <!-- Contact Us -->
      <div id="contact" class="contact">
        <div class="container">
      <h2 class="section-heading">Contact Us</h2>
      <p><span class="glyphicon glyphicon-earphone"></span><br> 00000000</p>
      <p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        </div>
      </div>
        
      <!-- Copyright etc -->
      <div class="small-print">
        <div class="container">
          <p>Copyright &copy; Fahrenheit 451</p>
        </div>
      </div>
      
  </footer>

  <!-- jQuery -->
  <script src="/static/js/jquery-1.11.3.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/js/jquery.easing.min.js"></script>
  
  <!-- Custom Javascript -->
  {% if active=='home' %}
  <script src="/static/js/custom.js"></script>
  {% endif %}

</body>

</html>
