{% include 'header.html' %}

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>PLAN TRIP</h1>
                <p>Get optimized route, driving Range and control range anxiety </p>
                <a href="/map" class="btn btn-primary btn-lg">Plan Now</a>
            </div>
        </div>
    </header>
	<!-- Content 1 -->
    <section id="performance"  class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">Performance</h2>
                	<p class="lead text-muted">Check how you are handling your vehicle</p>
                	<a href="#" class="btn btn-primary btn-lg">Plot</a>
                </div>                
                
            </div>
        </div>
    </section>
	<!-- Content 3 -->
     <section class="content content-3">
        <div class="container">
			<h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> Update</h2>
			<p class="lead text-muted">Update your performance analytics, and improve our driving assistant by retraining our model on your latest driving cycles</p> 
                    <a href="#" class="btn btn-primary btn-lg">Update Algorithm</a>               
            </div>
        </div>
    </section>
    
<!-- jQuery -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
    
{% include 'footer.html' %}